.repeating-details.actions.background-color
    h1 actions
    fieldset(class="repeating_actions")
        input.toggles(name="attr_toggles" type="hidden" value="display,settings,")
        input(name="attr_action_type" type="hidden" value="")
        .grid.repeating-grid-display
            button.pictos.settings-button(name="act_settings" title="action settings" type="action") y
            button.h2(name="roll_action" type="roll" value="@{whispertype} &{template:rolls}  {{charactername=@{character_name}}} {{header=@{name}}} {{subheader=^{action}}} {{info01_name=^{action_type}}} {{info01=@{action_type} @{other}}} {{info02_name=^{source}}} {{info02=@{source}}} {{info03_name=^{traits}}} {{info03=@{traits}}} {{info04_name=^{trigger}}} {{info04=@{trigger}}} {{desc=@{description}}}")
                span(name="attr_name")
            button( name="act_collapse"  title="show or hide action description" type="action") 4
            span.collapse(name="attr_description")
        .settings
            label.sublabel(title="action name")
                span.sublabel.darkred name
                input(name="attr_name" placeholder="name" title="@{name}" type="text" value="")
            label(title="actions")
                span.sublabel.darkred actions
                select.simple(name="attr_action" title="@{action}")
                    each val in ["1-action", "2-action", "3-action", "1-to-3-actions", "reaction", "free_action","other"]
                        option(value=val)=val
            label.sublabel(title="other")
                span.sublabel.darkred other
                input(name="attr_other" placeholder="other" spellcheck="false" title="@{other}" type="text" value="")
            label.sublabel(title="action trigger")
                span.sublabel.darkred trigger
                input(name="attr_trigger" placeholder="trigger" spellcheck="false" title="@{trigger}" type="text" value="")
            label.sublabel(title="action traits")
                span.sublabel.darkred traits
                input(name="attr_traits" placeholder="traits" spellcheck="false" title="@{traits}" type="text" value="")
            label.sublabel(title="action source")
                span.sublabel.darkred source
                input(name="attr_source" placeholder="source" spellcheck="false" title="@{source}" type="text" value="")
            label.sublabel(title="action description")
                span.sublabel.darkred description
                textarea(name="attr_description" placeholder="description" spellcheck="false" title="@{description}")
