.tabs
	//- Button to toggle on GM whisper
	label.whisper-toggle(title='whisper rolls to gm')
		input(name="attr_whispertype" type="checkbox" value="/w gm")
		span.pictos q

	//-  Buttons to change page view
	- const pcTabs = ['character', 'details', 'feats', 'inventory', 'options'];
	each tab in pcTabs
		label(title=tab)
			input(name=`attr_sheet_type` type='radio' value=tab)
			span #{$tab}
