.character
	.column
		include character/hp.pug
		include character/ability.pug
		include character/weapons.pug
		include character/languages.pug

	.column
		.armorclass.background-color
			include character/armor.pug

		.savingthrows.background-color
			include character/savingthrows.pug

		.skills.background-color
			include character/skills.pug
